@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
}

body{
    font-family: 'arial';
    max-width: 100%;
    background-color: rgb(243, 243, 243);
}

.navbar{
    background-color: #1a1a1a;
    padding: 0.75rem;
    top: 0;
    z-index: 99;
}

.navbar h1{
    margin-left: 40%;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 35rem;
}

.logo, .nav-icon-container img{
    width: 200px;
    cursor: pointer;
}

.logo img{
    width: 200px;
    cursor: pointer;
}

.logo{
    margin: 0 0.1%;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

/* Main Content */

section{
    background-color: #FFF;
    color: #2c2c2c;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #dadada;
    padding: 1.75rem;
}

/* FORMA DE PAGAMENTO */
.dBIcYc {
    padding: 1rem;
}
.gap-16 {
    gap: 1rem;
}
.desktop\:flex-row {
    flex-direction: row;
}
.items-start {
    align-items: flex-start;
}
.loBVey {
    padding-bottom: 0px;
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}
.ifczIZ {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.gFQayB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1rem;
}
.lcuaNw {
    border: 1px solid rgb(182, 187, 194);
    border-radius: 0.25rem;
}
.lcuaNw[data-state="open"] {
    border-color: #8f8f8f;
}
.hHGWJz[data-state="open"] {
    border-bottom: 1px solid #8f8f8f;
}
.dBIcYc[data-state="open"] {
    animation: 300ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal none running jjHgcY;
}
.czRsem {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    min-width: 1.25rem;
    min-height: 1.25rem;
    border-radius: 50%;
    border: 1px solid #2c2c2c;
    margin-right: 0.75rem;
    cursor: pointer;
}
.czRsem .Accordion-styles__Circle-sc-3e62d035-4 {
    visibility: visible;
}
.hGfryU .Accordion-styles__Circle-sc-3e62d035-4 {
    visibility: hidden;
}
.LayJA {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}
.gzxdOq input, .gzxdOq textarea {
    width: 100%;
    background: none;
    padding: 0.6875rem 1rem;
    font-family: "\"Poppins\",sans-serif";
    color: rgb(86, 92, 105);
    font-size: 0.75rem;
    line-height: 1rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.rccs, .rccs__card {
    margin: 0 auto;
    width: 290px;
}
.rccs {
    perspective: 1000px;
}
.rccs__card {
    height: 182.872997856px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .4s linear;
}.rccs, .rccs__card {
    margin: 0 auto;
    width: 290px;
}
.rccs__card--unknown>div {
    background: linear-gradient(25deg, #999, #999);
    box-shadow: none;
}
.rccs__card--front {
    z-index: 20;
}
.rccs__card--back, .rccs__card--front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: linear-gradient(25deg, #939393, #717171);
    border-radius: 14.5px;
    color: #fff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.rccs__chip, .rccs__issuer {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10%;
}
.rccs__chip {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9Ijc2IiB2aWV3Qm94PSIwIDAgMTAwIDc2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIj48ZGVmcz48bGluZWFyR3JhZGllbnQgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSIgaWQ9ImEiPjxzdG9wIHN0b3AtY29sb3I9IiNGM0QwOEYiIG9mZnNldD0iMCUiLz48c3RvcCBzdG9wLWNvbG9yPSIjRkFENzY2IiBvZmZzZXQ9IjEwMCUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNOTIuNzI3IDc1LjQ1NWgtODUuNDU1Yy00IDAtNy4yNzMtMy4yNzMtNy4yNzMtNy4yNzN2LTYwLjkwOWMwLTQgMy4yNzMtNy4yNzMgNy4yNzMtNy4yNzNoODUuNDU1YzQgMCA3LjI3MyAzLjI3MyA3LjI3MyA3LjI3M3Y2MC45MDljMCA0LTMuMjczIDcuMjczLTcuMjczIDcuMjczIiBmaWxsPSJ1cmwoI2EpIi8+PHBhdGggZD0iTTcyLjEyMyAyOC40ODVoMjcuODc4di0xLjgxOGgtMjkuNjQ4Yy0uOTY1IDAtMS44MzIuNjAxLTIuMTcyIDEuNTA0LTIuMjg3IDYuMDcyLTIuNDMzIDEyLjU5NC0uNDM4IDE5Ljg0Mi40NTUgMS42NTQuNDM1IDMuNC0uMSA1LjAzLTIuMDM2IDYuMTk1LTcuNzc5IDE5Ljk4OC0xOC41NTEgMTkuOTg4LTExLjAwOCAwLTE2LjA5Ni0xNS42OTktMTcuMzM0LTIxLjk1Mi0uMTU1LS43ODQtLjEyMi0xLjU5Mi4xMDctMi4zNTcgMS42OTUtNS42NDggMi4wOTQtMTAuNjQtLjAxNi0xOS41OS0uMjA1LS44Ny0uMTgyLTEuNzgzLjA0OC0yLjY0NiA0LjQ4LTE2Ljc1NSAxMi44ODItMjAuMTQ3IDEyLjk2NS0yMC4xNzkuMzU2LS4xMzIuNTkzLS40NzIuNTkzLS44NTJ2LTUuNDU1aC0xLjgxOHYzLjc3NmMwIC42NS0uMzMyIDEuMjUyLS44ODQgMS41OTYtMi44MDMgMS43NDItOC45MDQgNi45MzYtMTIuNTU3IDIwLjQ1Ni0uMTguNjY4LS43ODEgMS4xMzYtMS40NzMgMS4xMzNsLTI4LjcyMi0uMTM5djEuODE4bDI3LjQxNi4xMzNjMS40NjguMDA3IDIuNzM1IDEuMDQxIDMuMDM3IDIuNDc4IDEuNDE2IDYuNzQxIDEuMjE5IDExLjAzOS4wODIgMTUuNDU4LS4zMTYgMS4yMy0xLjQyIDIuMDk2LTIuNjkgMi4xMDlsLTI3Ljg0NC4yN3YxLjgxOWwyOC42MDUtLjI3OGMuNjkzLS4wMDcgMS4yOTYuNDczIDEuNDM1IDEuMTUyIDEuNDQyIDcuMDQxIDYuODg3IDIzLjA3IDE5LjA1IDIzLjA3IDYuMzY4IDAgMTIuMDYyLTQuMjUgMTYuNDY3LTEyLjI5IDIuNjQ0LTQuODI4IDQuMDY3LTkuNTkxIDQuNTQxLTExLjM0NmgyOS45MDF2LTEuODE4aC0yOC4wMTZjLTEuMTU4IDAtMi4xODMtLjc3Mi0yLjQ4OS0xLjg4OS0xLjY5Mi02LjE2NC0xLjc2MS0xMS43NTUtLjItMTYuOTU5LjM3MS0xLjIzNSAxLjUzOC0yLjA2MSAyLjgyNy0yLjA2MXptLTE3LjE1LTIxLjkxNGMuMDQ1LjAyMiA0LjUxOSAyLjMyMiA5LjI1MyAxMC4wNDEuMTcyLjI4LjQ3LjQzNC43NzYuNDM0LjE5OCAwIC4zOTktLjA2NC41NzEtLjIwMi4zNjUtLjI5Mi40MTYtLjgzNy4xNzItMS4yMzUtMy41Ny01LjgwNS03LjAyNC04LjcxLTguNzc1LTkuOTMxLS40My0uMjk5LS42OC0uNzkyLS42OC0xLjMxNXYtNC4zNjNoLTEuODE4djUuNzU4YzAgLjM0NS4xOTUuNjU5LjUwMi44MTN6IiBmaWxsPSIjMEMwMjAwIi8+PC9zdmc+);
    height: 26.3636363636px;
    left: 10%;
    width: 41.4285714286px;
}
.rccs__expiry {
    font-size: 0;
    right: 10%;
}
.rccs__expiry__valid {
    font-size: 10px;
    margin-bottom: 5px;
}
.rccs__expiry__value {
    font-family: Consolas, Courier, monospace;
    font-size: 16px;
}
.rccs__number {
    clear: both;
    font-family: Consolas, Courier, monospace;
    font-size: 20px;
    left: 10%;
    position: absolute;
    top: 45%;
}
.rccs__name {
    font-family: Consolas, Courier, monospace;
    font-size: 17px;
    left: 10%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 60%;
}
.rccs__expiry, .rccs__name {
    bottom: 15%;
    line-height: 1;
    position: absolute;
}
.bBSjGF {
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: rgb(127, 133, 141);
}
.bBSjGF input, .bBSjGF textarea {
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.bBSjGF input, .bBSjGF textarea {
    width: 100%;
    background: none;
    padding: 0.6875rem 1rem;
    font-family: "\"Poppins\",sans-serif";
    color: rgb(86, 92, 105);
    font-size: 0.75rem;
    line-height: 1rem;
}
.bBSjGF label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease 0s;
    color: rgb(127, 133, 141);
    font-size: 0.75rem;
    line-height: 1rem;
}
.bnRoSG {
    position: relative;
}
.grid {
    display: grid;
}
.gzxdOq {
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: rgb(127, 133, 141);
}
.relative {
    position: relative;
}
.-translate-y-1\/2, .transform, .translate-y-\[-50\%\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2, .translate-y-\[-50\%\] {
    --tw-translate-y: -50%;
}
.top-24 {
    top: 1.5rem;
}
.right-16 {
    right: 1rem;
}
.absolute {
    position: absolute;
}
.jEHApf {
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: rgb(127, 133, 141);
}
.jEHApf input, .jEHApf textarea {
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.jEHApf input, .jEHApf textarea {
    width: 100%;
    background: none;
    padding: 0.6875rem 1rem;
    font-family: "\"Poppins\",sans-serif";
    color: rgb(86, 92, 105);
    font-size: 0.75rem;
    line-height: 1rem;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.bnRoSG {
    position: relative;
}

.knWmyi {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: rgb(86, 92, 105);
    text-transform: uppercase;
    margin-right: auto;
}
.hHGWJz {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 0.75rem 1rem;
}
.hGfryU .Accordion-styles__Circle-sc-3e62d035-4 {
    visibility: hidden;
}

.bOvBsb {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
}
.bZYtRy {
    position: relative;
    z-index: 0;
    width: 100%;
}
element.style {
    position: absolute;
    border: 0px;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    white-space: nowrap;
    overflow-wrap: normal;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.gzxdOq {
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: rgb(127, 133, 141);
}
.kSYPRn {
    display: flex;
    flex: 0 4 22.25rem;
}
.bOvBsb {
    align-self: flex-start;
    padding: 1.5rem;
    position: sticky;
    top: 2rem;
}

/* RESUMO */

.gOgtey h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
    color: rgb(66, 70, 77);
}

.emmCDn {
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem 0.25rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(127, 133, 141);
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.eyYSBD[data-orientation="horizontal"] {
    height: 0.0625rem;
    width: 100%;
}
.eyYSBD {
    background-color: rgb(222, 224, 228);
    margin: 0px;
}

.dcQKeo {
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem 0.25rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(127, 133, 141);
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.dcQKeo b {
    line-height: 1.125rem;
    font-weight: 700;
    color: #2c2c2c;
    flex: 1 1 0%;
    text-align: right;
}

.ebfQo {
    background-color: rgb(229, 255, 241);
    color: #2c2c2c;
    padding: 0.5rem 0.25rem;
    margin-top: 1rem;
}
.iyZGTv {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.jHMpOk {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}
.iPgkih {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
}
.hMkFMd {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    margin-top: 0.25rem;
    display: block;
    text-align: right;
}

.kvlUnG {
    flex-direction: column;
    background-color: transparent;
    align-self: end;
    padding: 0px;
    margin-top: 1rem;
}
.kvlUnG {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    gap: 1rem;
}
.hXqMbE {
    width: 100%;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #111;
    background-color: #111;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
    border-radius: 0.25rem;
}
button, a {
    cursor: pointer;
}

.gcpxgQ {
    width: 100%;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #111;
    background-color: rgb(255, 255, 255);
    user-select: none;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
    border-radius: 0.25rem;
}.gcpxgQ:hover {
    cursor: pointer;
    color: #111;
    background-color: #f0f0f0;
    border: 1px solid #111;
}

a{
    text-decoration: none;
    color: #fff;
}

/* Main Content */

/* Footer */

.sub-background{
    background-color: #1a1a1a;
    height: 270px;
}

.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 1rem 1rem;
    gap: 2rem;
}

.download-options>*{
    margin: 1rem 0;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 150px;
    cursor: pointer;
}

.logo-footer{
    padding-left: 80px;
}

.logo-footer h1{
    margin-bottom: 0.8rem;
}

.links-footer{
    padding-left: 200px;
}

.links-footer h3{
    color: #fff;
}

.links-footer ul{
    list-style: none;
}

.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
/* Footer */