.navbar2{
    background-color: #1a1a1a;
    padding: 1rem;
    top: 0;
    z-index: 99;
}
.navbar2>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5rem 2rem;
    display: grid;
}

.produto{
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    display: flex;
    margin-left: 1px;
    gap: 4rem;
    justify-content: space-evenly;
}
.produto img{
    width: 400px;
    padding: 1rem;
    margin-left: 2rem;
}

.detalhes h1{
    margin-bottom: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.detalhes p{
    color: #616161;
}
.detalhes span.gitstore{
    font-weight: bold;
    color: black;
}
.detalhes span.em-estoque{
    color: #1F9050;
    font-weight: bold;
}

.frete-gratis{
    display: flex;
    margin-top: 0.3rem;
}
.frete-gratis svg{
    margin-right: 0.3rem;
}
.hKkrIp {
    color: rgb(31, 144, 80);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

.ixKjkz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
}
.efugKy {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}
.ibyzkU {
    line-height: 1.3125rem;
    color: rgb(127, 133, 141);
    text-decoration: line-through;
}
.ipHrwP {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.igKOYC {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(86, 92, 105);
}
.fnzOmu {
    flex-basis: 15.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.bLjOez {
    background-color: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 1rem 0px;
    max-width: 100%;
    height: 3rem;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 700;
    padding: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 0.25rem;
    cursor: pointer;
}
.bLjOez svg {
    margin: 0px 0.5rem;
}
.qqxnY {
    width: 3rem;
    margin-top: 1rem;
}
.qqxnY {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 3rem;
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 0.25rem;
    background: rgb(255, 255, 255);
}
button, a {
    cursor: pointer;
}

.hkfkrb {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0%;
    margin-top: 0.75rem;
}
.hkfkrb b, .hkfkrb span {
    line-height: 1.25rem;
    color: rgb(86, 92, 105);
}

.manufacturerBox{
    margin-top: 2rem;
}
.manufacturerBox span {
    color: rgb(86, 92, 105);
    font-size: 0.825rem;
    line-height: 1rem;
    font-weight: 400;
}
.manufacturerBox strong {
    margin-left: 0.25rem;
    color: rgb(66, 70, 77);
    font-size: 0.825rem;
    line-height: 1rem;
    font-weight: 600;
}

/* Section */
.jcryDv h2{
    font-size: 1.785rem;
}
.jcryDv {
    max-width: calc(80rem);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

/* Section */