*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body{
    font-family: 'arial';
    max-width: 100%;
    overflow-x: hidden;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    background-color: #111;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
}

/* NAVBAR */

.navbar{
    justify-content: end;
    padding: 20px;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul>li{
    text-decoration: none;
    align-content: center;
}

.navbar a{
    color: #fff;
    justify-content: center;
}

.nav-icon-container img{
    width: 25px;
    cursor: pointer;
}

.logo img{
    width: 100%;
    cursor: pointer;
    padding: 10px 0px 10px 30px;
}

.logo{
    width: 150px;
}

/* SEARCH BAR */
.search-bar {
    flex: 1;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

.search-bar i{
    color: #111;
    font-size: 1rem;
    position: relative;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 0px 15px;
    outline: none;
}

.search-bar button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    color: #111;
    cursor: pointer;
    transition: background 0.3s;
}

.search-bar button:hover {
  background: #555;
  color: #fff;
}

.cart{
    padding-right: 0.2rem;
}
.cart img{
    padding-left: 1;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-access>.access {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

.access{
    padding-top: 0.3rem;
}

.access a{
    text-decoration: none;
    color: #fff;
}

.account img{
    width: 40px;
    cursor: pointer;
    padding-right: 1rem;
}

.cart:hover, .nav-access li:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    font-weight: bold;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

.menu-button{
    display: none;
}

/* Main Content */
main{
    background-color: #f7f7f7;
}

.banner{
    box-shadow: 0px 8px 20px #ffffffde;
}

.bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.bottom-side-left{
    height: 100%;
    flex-basis: 50%;
    margin: 0 30px;
}

.bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.bottom-side-left button{
    background-color: #2a2a2a;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.bottom-side-left button:hover{
    background-color: black;
}

.bottom-side-left2{
    height: 100%;
    flex-basis: 50%;
}

.bottom-side-left2 h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.bottom-side-left2 p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.bottom-side-left2 button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #111;
    font-weight: 500;
    font-size: 1rem;
}

.bottom-side-left2 button:hover{
    background-color: rgb(175, 175, 175);
}

.bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-side-right img{
    width: 115%;
}



.sub-background{
    background-color: #1a1a1a;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.cols-3 img{
    max-width: 300px;
    border-radius: 3px;
    margin: auto;
}

.cols-4 img{
    max-width: 100%;
    border-radius: 3px;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: auto;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
    color: #1a1a1a;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #111;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product{
    color: #1a1a1a;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
    color: #1a1a1a;
}

.rate{
    color: #2c2c2c;
    font-size: 1.3rem;
}

.product-price{
    color: #1a1a1a;
}

.product-price span{
    font-weight: 600;
    color: #1a1a1a;
}

.sub2{
    height: 600px;
    background: #2c2c2c;
}

.exclusive-container{
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
}

/* Main Content */

/* Testimonials */
.testimonials{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding:  1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.testimonial:hover{
    transform: translateY(-5px);
}

.testimonial p{
    margin: 5px 0;
}

.testimonial p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #2c2c2c;
    margin-top: 3rem;
    line-height: 2rem;
}

.testimonial p:last-child{
    font-weight: bold;
}

/* Testimonials */

/* Footer */
.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 0.7rem 2rem;
    gap: 2rem;
    justify-content: space-between;
    
}

.download-options>*{
    margin: 1rem 0;
    margin-left: 3px;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 150px;
    cursor: pointer;
}

.logo-footer h1>img{
    margin-bottom: 0.8rem;
    width: 180px;
    align-items: center;
    justify-content: center;
}

.links-footer{
    padding-left: 200px;
    margin-right: 3px;
}

.links-footer h3{
    color: #fff;
    
}

.links-footer ul{
    list-style: none;
}

.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
/* Footer */

/* Estilo mobile da navbar */
    @media (max-width: 600px) {

    body {
        margin: auto;
        max-width: 100%;
    }    

    header {
        width: 100%;
        display: flex;
        grid-column: auto;
        height: 50%;
        flex: 1;
    }

    #menu-button{
        color: #fff;
        display: block;
        font-size: 1.5rem;
        margin: auto;
        padding: 10px 10px;
        cursor: pointer;
    }

    .logo {
    margin: auto;
    }  

    .navbar nav ul {
        flex-direction: column;
        gap: 15px;
        background: #111;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        padding: 1rem;
        border-radius: 10px;
        display: none;
    }

    .navbar nav ul.active {
        display: flex;
    }

    .search-bar input, button{
        display: none;
    }

    .search-bar {
        max-width: 90%;
    }

    /* MAIN */
    
    .banner h2 {
        font-size: 200%;
        font-weight: 700;
    }

    .banner-access-button{
        display: block;
    }

    .sub2 {
        height: 390px;
    }

    /* FOOTER */

    .footer-content {
        display: block;
        
    }

    .links-footer {
        padding: 0;
        margin-top: 10px;
    }

    .links-footer h3 {
        display: flex;
        justify-content: center;
    }

    .links-footer ul {
        display: flex;
        gap: 30px;
        padding: 10px;
        justify-content: center;
    } 

    .logo-footer h1>img {
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    }


    @media (max-width: 1024px) {

    body {
        max-width: 100%;
    }
    
    .cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    }
    @media (max-width: 600px) {
    .cols-4, .cols-3 {
        grid-template-columns: 1fr;
    }
    }

