*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'arial';
    max-width: 100%;
}

.header-inner-content{
    max-width: 1000px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar{
    background-color: #1a1a1a;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 40rem;
}

nav ul>li{
    text-decoration: none;
}

.logo, .nav-icon-container img{
    width: 25px;
    cursor: pointer;
}

.logo img{
    width: 150px;
    cursor: pointer;
    margin-left: 3px;
}

.logo{
    margin: 0 0.1%;
    width: 200px;
}

.cart{
    padding-right: 0.2rem;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-access>.access {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

.access{
    padding-top: 0.3rem;
}

.access a{
    text-decoration: none;
    color: #fff;
}

.account img{
    width: 40px;
    cursor: pointer;
    padding-right: 1rem;
}

.cart:hover, .nav-access li:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    font-weight: bold;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

.menu-button{
    display: none;
}

header{
    background-image: radial-gradient(#fff, #e2e2e2ea);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
    background-color: #1a1a1a;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.header-bottom-side-left button:hover{
    background-color: black;
}

.header-bottom-side-left2{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left2 h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left2 p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left2 button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #111;
    font-weight: 500;
    font-size: 1rem;
}

.header-bottom-side-left2 button:hover{
    background-color: rgb(175, 175, 175);
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img{
    width: 115%;
}

/* Header */

/* Main Content */
main{
    background-color: #f7f7f7;
}

.sub-background{
    background-color: #1a1a1a;
}

.suba{
    height: 0x;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
    border-radius: 3px;
}

.cols-4 img{
    max-width: 100%;
    border-radius: 3px;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
    color: #1a1a1a;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #111;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product{
    color: #1a1a1a;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
    color: #1a1a1a;
}

.rate{
    color: #1a1a1a;
    font-size: 1.3rem;
}

.product-price{
    color: #1a1a1a;
}

.product-price span{
    font-weight: 600;
    color: #1a1a1a;
}

.sub2{
    height: 600px;
    background: #2c2c2c;
}

.exclusive-container{
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
}

/* Main Content */

/* Testimonials */
.testimonials{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding:  1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.testimonial:hover{
    transform: translateY(-5px);
}

.testimonial p{
    margin: 5px 0;
}

.testimonial p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #2c2c2c;
    margin-top: 3rem;
    line-height: 2rem;
}

.testimonial p:last-child{
    font-weight: bold;
}

/* Testimonials */

/* Footer */
.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 2rem 1rem;
    gap: 2rem;
    justify-content: space-between;
}

.download-options>*{
    margin: 1rem 0;
    margin-left: 3px;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 150px;
    cursor: pointer;
}

.logo-footer h1>img{
    margin-bottom: 0.8rem;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.links-footer{
    padding-left: 200px;
    margin-right: 3px;
}

.links-footer h3{
    color: #fff;
}

.links-footer ul{
    list-style: none;
}

.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
/* Footer */